header{
    height: 150px;
    /* width: 100%; */
    /* color: white; */
    background-color: rgb(102, 30, 30);
    border-radius: 15px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}